.home-footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que el footer esté encima de otros elementos */
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  