/* Animación de entrada */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  background: linear-gradient(90deg, #004aad, #002f6c);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  animation: fadeInDown 0.7s ease-out;
  margin-bottom: 1%;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff !important;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff !important;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.navbar-nav .nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.nav-icon {
  margin-right: 8px;
  font-size: 1.2rem;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.menu-icon {
  color: #fff;
  font-size: 1.8rem;
}

.navbar-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.navbar-img:hover {
  transform: rotate(15deg);
}
